*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: sans-serif;
    background: linear-gradient(to right, #1ebd02 20%, #01afa4, #068ad6, #3a30f0, #8006d6 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 30px;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0px 10px;
}

.random-color, .my-color {
    width: 160px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
}

.input-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.input-container p {
    font-size: 1.4rem;
}

input {
    width: 120px;
    height: 32px;
    outline: none;
    appearance: none;
    font-size: 1.05rem;
    background-color: #fefefe;
    border: none;
    border: 1px solid black;
    padding-left: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 1.1rem;
    padding: 8px 20px;
    cursor: pointer;
}

.btn:hover {
    border-color: #008c25;
    background-color: #008c25;
    color: white;
}

footer {
    font-size: 0.85rem;
    margin-bottom: 3px;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .random-color, .my-color {
        width: 200px;
    }

    .btn {
        font-size: 1.2rem;
        padding: 10px 25px;
    }

    label {
        font-size: 1.3rem;
    }

    .input-container p {
        font-size: 1.6rem;
    }
    
    input {
        width: 140px;
        height: 35px;
        font-size: 1.15rem;
    }
}